@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

header{
    height: 6vh;
    display: flex;
    justify-content: space-between;
}

body{
    background: -webkit-linear-gradient(bottom, #fff, rgb(0, 0, 0));
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    font-size: 15;
    min-height: 100vh;
}

#navbarrr{
    padding: 0;
}

#titulo{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.342);
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.342);
    margin-left: 10%;
    margin-right: 10%;
}

#lista{
    margin-left: 10%;
    margin-right: 10%;
}

#navbar{
    list-style: none;
    display: inline;
}

#xFr{
    font-size: 53px;
    font: bold;
}

#carouselExampleIndicators{
    margin-left: 10%;
    margin-right: 10%;
}

#carouselpi{
    color: rgb(0, 0, 0);
    font: bold;
}

#carouselExampleSlidesOnly{
    text-align: center;
    background-color: rgb(207, 207, 207);
    padding-top: 10px;
    font: bold;
}

h4{
    margin-left: 10%;
}

.angry-grid {
   display: grid; 
   grid-template-columns: 26% 26% 26% 26%;
   margin-left: 10%;
    margin-right: 10%;
}
  
#Item-0{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

#Item-1{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

#Item-2{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

#Item-3{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}